@inherits LayoutComponentBase

@layout MainLayout

<div class="container-fluid my-3">
    @Body
    <hr style="height:5px"/>
</div>

<style>
    .footer{
        margin-top: 0 !important;
    }
</style>
