
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title text-center text-primary text-uppercase">Забронировать номер</h6>
            <h1 class="mb-5">Номер A <span class="text-primary text-uppercase">Люкс</span></h1>
        </div>
        <div class="row g-5">
            <div class="col-lg-6">
                <div class="row g-3">
                    <div class="col-6 text-end">
                        <img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.1s" src="img/about-1.jpg" style="margin-top: 25%;">
                    </div>
                    <div class="col-6 text-start">
                        <img class="img-fluid rounded w-100 wow zoomIn" data-wow-delay="0.3s" src="img/about-2.jpg">
                    </div>
                    <div class="col-6 text-end">
                        <img class="img-fluid rounded w-50 wow zoomIn" data-wow-delay="0.5s" src="img/about-3.jpg">
                    </div>
                    <div class="col-6 text-start">
                        <img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.7s" src="img/about-4.jpg">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="wow fadeInUp" data-wow-delay="0.2s">
                    <form>
                        <div class="row g-3">
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="name" placeholder="введи имя">
                                    <label for="name">Ваше имя</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="email" class="form-control" id="email" placeholder="Введи почту">
                                    <label for="email">Ваша почта</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating date" id="date3" data-target-input="nearest">
                                    <input type="text" class="form-control datetimepicker-input" id="checkin" placeholder="Дата заезда" data-target="#date3" data-toggle="datetimepicker" />
                                    <label for="checkin">Дата заезда</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating date" id="date4" data-target-input="nearest">
                                    <input type="text" class="form-control datetimepicker-input" id="checkout" placeholder="Дата выезда" data-target="#date4" data-toggle="datetimepicker" />
                                    <label for="checkout">Дата выезда</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <select class="form-select" id="select1">
                                        <option value="1">1 Взрослый</option>
                                        <option value="2">2 Взрослых</option>
                                        <option value="3">3 Взрослых</option>
                                    </select>
                                    <label for="select1">Выбор количества взрослых</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <select class="form-select" id="select2">
                                        <option value="1">1 ребёнок</option>
                                        <option value="2">2 ребёнка</option>
                                        <option value="3">3 ребёнка</option>
                                    </select>
                                    <label for="select2">Выбор количества детей</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <select class="form-select" id="select3">
                                        <option value="1">1 комната</option>
                                        <option value="2">2 комнаты</option>
                                        <option value="3">3 комнаты</option>
                                    </select>
                                    <label for="select3">Выбор количества комнат</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <textarea class="form-control" placeholder="Дополнительные услуги" id="message" style="height: 100px"></textarea>
                                    <label for="message">Дополнительные услуги</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary w-100 py-3" type="submit">Забронировать</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@code {

}
