@using System.ComponentModel.DataAnnotations
@using System.Text
@using System.Text.Encodings.Web
@using HotelBookingBlazor.Components.Account
@using HotelBookingBlazor.Components.Account.Shared
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.WebUtilities
@using HotelBookingBlazor.Data


@inject ILogger<CreateUserForm> Logger
@inject NavigationManager NavigationManager

@inject IUserService UserService


<StatusMessage Message="@_message" />
<EditForm Model="Input" asp-route-returnUrl="@ReturnUrl" method="post" OnValidSubmit="RegisterUser" FormName="register" Enhance>
    <DataAnnotationsValidator />
    @if (_showSubHeading)
    {
        <h2>Создать новый аккаунт</h2>
    }
    <hr />

    <div class="row">
        <div class="col-sm-6">
            <div class="form-floating mb-3">
                <InputText @bind-Value="Input.FirstName" class="form-control" aria-required="true" placeholder="Имя" />
                <label for="email">Имя</label>
                <ValidationMessage For="() => Input.FirstName" class="text-danger" />
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-floating mb-3">
                <InputText @bind-Value="Input.LastName" class="form-control" aria-required="true" placeholder="Фамилия" />
                <label for="email">Фамилия</label>
                <ValidationMessage For="() => Input.LastName" class="text-danger" />
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-floating mb-3">
                <InputText @bind-Value="Input.ContactNumber" class="form-control" aria-required="true" placeholder="Номер телефона" />
                <label for="email">Контактный номер</label>
                <ValidationMessage For="() => Input.ContactNumber" class="text-danger" />
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-floating mb-3">
                <InputText @bind-Value="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="Почта" />
                <label for="email">Почта</label>
                <ValidationMessage For="() => Input.Email" class="text-danger" />
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-floating mb-3">
                <InputText type="password" @bind-Value="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Пароль" />
                <label for="password">Пароль</label>
                <ValidationMessage For="() => Input.Password" class="text-danger" />
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-floating mb-3">
                <InputText type="password" @bind-Value="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Подтверждение пароля" />
                <label for="confirm-password">Подтверждение пароля</label>
                <ValidationMessage For="() => Input.ConfirmPassword" class="text-danger" />
            </div>
        </div>
        @if (_showDesignation)
        {
            <div class="col-sm-6">
                <div class="form-floating mb-3">
                    <InputText type="password" @bind-Value="Input.Designation" class="form-control" placeholder="Назначение" />
                    <label for="designation">Назначение</label>
                    <ValidationMessage For="() => Input.Designation" class="text-danger" />
                </div>
            </div>
        }
    </div>
    <div>
        <button type="submit" class="w-100 btn btn-lg btn-primary">@_submitButtonText </button>
    </div>
    @if (_showLoginLink)
    {
        <div class="mt-3">
            <p>
                <a href="@(NavigationManager.GetUriWithQueryParameters("Account/Login", new Dictionary<string, object?> { ["ReturnUrl"] = ReturnUrl }))">У вас уже есть учетная запись?</a>
            </p>
        </div>

    }
</EditForm>


@code {

    [Parameter] public RoleType Role { get; set; } = RoleType.Guest;

    [Parameter] public EventCallback OnSuccess { get; set; }

    private string _submitButtonText = "Регистрация";

    private bool _showLoginLink = true;

    private bool _showSubHeading = true;

    private bool _showDesignation = false;

    [SupplyParameterFromForm]
    private RegisterUserModel Input { get; set; } = new();

    [SupplyParameterFromQuery]
    private string? ReturnUrl { get; set; }

    private string? _message = null;

    protected override void OnParametersSet()
    {
        if (Role != RoleType.Guest)
        {
            _submitButtonText = "Создать сотрудника";
            _showLoginLink = _showSubHeading = false;
            _showDesignation = true;
        }
    }

    public async Task RegisterUser(EditContext editContext)
    {
        var user = CreateUser();

        user.FirstName = Input.FirstName;
        user.LastName = Input.LastName;
        user.ContactNumber = Input.ContactNumber;
        user.Email = Input.Email;
        user.RoleName = Role.ToString();
        user.Designation = Input.Designation;

        var result = await UserService.CreateUserAsync(user, Input.Email, Input.Password);

        if (!result.IsSuccess)
        {
            _message = result.ErrorMessage;
            return;
        }

        Logger.LogInformation($"{user.FullName} создал новую учетную запись {user.Email}");

        await OnSuccess.InvokeAsync();
    }

    private ApplicationUser CreateUser()
    {
        try
        {
            return Activator.CreateInstance<ApplicationUser>();
        }
        catch
        {
            throw new InvalidOperationException($"Не удается создать экземпляр '{nameof(ApplicationUser)}'. " +
                $"Убедитесь, что '{nameof(ApplicationUser)}' не является абстрактным классом и имеет конструктор без параметров.");
        }
    }
}
