
<div class="container-fluid bg-dark text-light footer wow fadeIn" data-wow-delay="0.1s">
    <div class="container pb-5">
        <div class="row g-5">
            <div class="col-md-6 col-lg-4">
                <div class="bg-primary rounded p-4">
                    <a href="index.html"><h1 class="text-white text-uppercase mb-3">AlexHotel</h1></a>
                    <p class="text-white mb-0">
                        Скачать <a class="text-dark fw-medium" href="">AlexHotel – Premium Version</a>, создайте профессиональный веб-сайт для своего гостиничного бизнеса и привлеките внимание новых посетителей с момента запуска вашего сайта.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <h6 class="section-title text-start text-primary text-uppercase mb-4">Контакты</h6>
                <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>Мичурина, Нижний-Новгород, Россия</p>
                <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+79246291675</p>
                <p class="mb-2"><i class="fa fa-envelope me-3"></i>bous07@mail.ru</p>
                <div class="d-flex pt-2">
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-youtube"></i></a>
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="col-lg-5 col-md-12">
                <div class="row gy-5 g-4">
                    <div class="col-md-6">
                        <h6 class="section-title text-start text-primary text-uppercase mb-4">Компания</h6>
                        <a class="btn btn-link" href="">О нас</a>
                        <a class="btn btn-link" href="">Контакты</a>
                        <a class="btn btn-link" href="">Политика конфиденциальности</a>
                        <a class="btn btn-link" href="">Правила и условия</a>
                        <a class="btn btn-link" href="">Поддержка</a>
                    </div>
                    <div class="col-md-6">
                        <h6 class="section-title text-start text-primary text-uppercase mb-4">Сервисы</h6>
                        <a class="btn btn-link" href="">Еда и ресторан</a>
                        <a class="btn btn-link" href="">Спа и фитнес-центр</a>
                        <a class="btn btn-link" href="">Спорт и игры</a>
                        <a class="btn btn-link" href="">Мероприятия и вечеринки</a>
                        <a class="btn btn-link" href="">ТРЕНАЖЕРНЫЙ ЗАЛ и йога</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="copyright">
            <div class="row">
                <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                    &copy; <a class="border-bottom" href="#">Название вашего сайта</a>, Все права защищены.
                    Разработанный <a class="border-bottom" href="">Горбунов Дмитрий</a>
                </div>
                <div class="col-md-6 text-center text-md-end">
                    <div class="footer-menu">
                        <a href="">Home</a>
                        <a href="">Cookies</a>
                        <a href="">Help</a>
                        <a href="">FQAs</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@code {

}
