@page "/bookings/{bookingId:long}/success"

@layout InnerPageLayout

@inject IPaymentService PaymentService

<div class="container d-flex justify-content-center mt-5">
    <div>
        @if (!string.IsNullOrWhiteSpace(_errorMessage))
        {
            <h3 class="text-danger">@_errorMessage</h3>
        }
        else
        {
            <h3>Уважаемый @_guestName, </h3>
            <p>Ваш платеж подтвержден</p>
            <p>Скоро вам выделят комнату</p>
        }
    </div>
</div>


@code {

    [Parameter]
    public long BookingId { get; set; }

    [SupplyParameterFromQuery(Name = "session-id")]
    public string CheckoutSessionId { get; set; }

    [SupplyParameterFromQuery(Name = "payment-id")]
    public string PaymentId { get; set; }

    private string? _guestName;
    private string? _errorMessage;

    //https://localhost:7256/bookings/14/success?session-id=cs_test_a1CB50RUGzkpADUe2SIh0s0DLc4yWbWm09cfhvqHwRteQ7SmVJBiUDmdSP&payment-id=089f2cf7-703a-4b2e-2ba9-08dc736edbb3

    protected override async Task OnInitializedAsync()
    {
        var result = await PaymentService.ConfirmPaymentAsync(PaymentId, BookingId, CheckoutSessionId);
        if (result.IsSuccess)
        {
            _guestName = result.Data;
        }
        else
        {
            _errorMessage = result.ErrorMessage ?? "Unable to confirm your payment";
        }
    }
}
